<div class="row">
  <div class="col s12 m6">
    <div class="trip-organization-container">
      <div class="trip-organization-title">
        <h5><%= t('topics.topics') %></h5>
        <div class="fixed-action-btn horizontal">
          <%= link_to new_trip_topic_path(@trip, @survey), class: "btn-floating btn-small indianred" do %>
            <i class="material-icons">add</i>
          <% end %>
          <ul>
            <li><a class="btn-floating red"><i class="material-icons">home</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">flight_takeoff</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">edit</i></a></li>
          </ul>
        </div>
      </div>
      <div class="trip-topics">
        <% @pending_topics.each do |topic| %>
          <%= render 'topics/topic_card', topic: topic %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="col s12 m6">
    <div class="trip-organization-container">
      Chat
    </div>
  </div>

</div>