<h5 class="trip-headline"><%= t('expenses') %></h5>

<div>
  Total: <%= @total %>
</div>

<div>
  <% @participants.each do |participant| %>
      <ul>
        <li>
          <%= participant.compute_user_balance(@trip, @total) %>
        </li>
      </ul>
  <% end %>
</div>
