<div class="container form-container">
  <div class="row">
    <div class="col s8 offset-s2">
      <%= simple_form_for @trip do |f| %>
          <%= f.input :name %>
          <%= f.input :destination %>
      <% end %>
    </div>
  </div>
</div>
