<div class="container" style="width: 80%;">
  <div class="row">
    <div class="col l8 s12">
      <h5><%= t('my_trips') %></h5>
      <% @trips.each do |trip| %>
        <%= render 'trip_card', trip: trip %>
      <% end %>
    </div>
    <div class="col l4 s12">
      <h5><%= t('my_invitations') %></h5>
      <% @invitations.each do |invitation| %>
        <%= render 'invitation_card', invitation: invitation %>
      <% end %>
    </div>
  </div>
</div>
