<h3><%= @trip.name %></h3>

<br>

<h6><%= @trip.destination %></h6>

<br>

<%= link_to t('invite_user'), new_trip_invite_path(@trip), class: "waves-effect waves-light btn" %>

<br>

<%= link_to t('leave_trip'), leave_trip_path(@trip), class: "waves-effect waves-light btn" %>