.home-banner {
  background-size: cover;
  height: 100vh;
  color: white;
}

.home-title-container {
  padding-top: 20px;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.home-title-container h1 span {
  color: $primary-color;
}

.home-title-container h1 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.home-title-container h4 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.home-title-container > hr {
  max-width: 59px;
  border: 1px solid $primary-color;
  margin-left: 45%;
  margin-top: 25px;
}

.logo {
  margin-top: 20px;
  margin-left: 36%;
}

.logo a {
  height: 140px;
  width: 140px;
  display: block;
  background-color: $primary-color;
  z-index: 1;
  border-radius: 32%;
  text-align: center;
  line-height: 140px;
  font-size: 90px;
  color: rgb(255, 255, 255);
  transform: rotate(45deg);
  top: 123px;
  left: 36%;
}

.logo span {
  transform: rotate(-45deg);
  display: inline-block;
}

#subscription {
  margin-top: 30px;
  padding-top: 10px;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding-bottom: 20px;
  margin: 0 auto;
  border-radius: 4px;
}

.homepage-button {
  height: 50px;
  background-color: $primary-color;
  margin-top: 20px;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  margin-top: 15px;
}

.homepage-button-sign-up {
  background-color: #32B796;
}

.facebook-login-button {
  background-color: rgb(59, 89, 152);
  color: white;
  height: 50px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  a {
    color: white;
    text-decoration: none;
  }
}

.adjust {
  margin-left: 6px;
}

.home-arrow{
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  border: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: all 300ms;
  &:hover {
    background-color: white;
    transition-duration: 300ms;
    transition-property: background-color;
  }
}

#explanation-banner {
  padding-bottom: 30px;
  padding-top: 30px;
}

.explanation-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  display: flex;
  align-items: center;
}

.homepage-icons {
  color: $primary-color;
}

.icon-box {
  margin-right: 20px;
}
