.trip-organization-container {
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
  height: 78vh;
  overflow: scroll;
}

.trip-organization-title{
  position: relative;
  margin-bottom: 20px;
  display: flex;
  margin-left: 20px;
  justify-content: space-around;
}

.trip-topics{
  padding: 20px;
}

.fixed-action-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

#winning-suggestion {
  padding: 20px;
}

#winning-suggestion .input-field {
  margin-top: 0px;
}
