.trip-organization{
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
}

.trip-organization-title{
  position: relative;
  margin-bottom: 20px;
  display: flex;
  margin-left: 20px;
}

.trip-topics{
  padding: 20px;
}

.fixed-action-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

