<div class="home-banner" style="background-image: url('<%= image_path 'travel_2.jpg'%>')">
  <div class="home-title-container">
    <h1>Take Off</h1>
    <h4>Group Holidays, made Simple</h4>
  </div>
</div>

