<div class="home-banner" style="background-image: url('<%= image_path 'travel_2.jpg'%>')">
  <div class="home-title-container">
    <h1>Take Off</h1>
    <h4>Group Holidays, made Simple</h4>
    <div class="subscription-div">
      <%= link_to t('log_in'), class: 'btn' %>
      <%= link_to t('sign_up'), class: 'btn' %>
    </div>
  </div>
</div>

