nav {
  background-color: $primary-color;
}

.image-flag {
  padding-top: 5px;
  height:65px;
}

.brand-logo {
  margin-left: 5px;
}

.avatar-navbar {
  padding-top: 12px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px !important;
  padding-left: 0px !important;
  padding-top: 0px !important;
}