<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome,</h1>
    <p>
      <%= @host.first_name %> has invited you to an amazing trip!
    </p>
    <p>
      If you want to visit <%= @trip.destination %>, during the <%= @trip.name %>, click on the link below!
    </p>
    <p>
      <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>