<div class="container">
  <div class="row">
    <div class="col l6 offset-l3 s12 ">
      <div class="survey-container">
        <div class="survey-header">
          <h3><%= @survey.trip.name %>'s survey</h3>
        </div>
        <%= render 'survey', survey: @survey, survey_dates: @survey_dates %>
      </div>
  </div>
</div>


