.card {
  position: relative;
  height: 130px;
}

.card-content {
  color: $primary-color-dark;
  position: absolute;
}
.card-title {
  color: $primary-color-light;
  position: absolute;
  width: 70%;
}

.card-destination {
  position: absolute;
  top: 65px;
}

.card-dates {
  position: absolute;
  top: 35px;
}

.card-participants {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-flex;
}

.card-buttons {
  position: absolute;
  right: 15px;
  bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
}

.card-invite-buttons {
  position: absolute;
  bottom: 10px;
}

