.form-container {
  margin-top: 20px;
  padding: 15px;
}

.form-title {
  text-align: center;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.form-dates {
  display: flex;
  justify-content: space-between;
}

