.suggestion-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  border: solid 0.1px #d4c6c6;
  margin-top: 10px;
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.suggestion-number-button {
  width: 30px;
  height: 30px;
  text-align: center;
}

.suggestion-number-button-text {
  margin-top: -4px;
}

.suggestion-name {
  width: 100px;
}

.suggestion-price {
  color: black;
}