.suggestion-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: solid 0.1px #d4c6c6;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.suggestion-line-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.suggestion-number-button {
  width: 30px;
  height: 30px;
  text-align: center;
}

.suggestion-number-button-text {
  margin-top: -4px;
}

.suggestion-name {
  width: 100px;
}

.suggestion-price {
  color: black;
}