.topic-card{
  border: solid 1px indianred;
  padding: 20px;
  border-radius: 4px;
  color: indianred;
  margin-bottom: 15px;
}

.topic-card-title {

}

.topic-card-description {

}

.topic-card-actions {

}