.survey-container {
  margin: 0 auto;
  background-color: white;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;
}

.survey-header {
  background-color: $red;
  border-radius: 4px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  h3 {
    font-size: 1.92rem;
    line-height: 100%;
    margin: 1.46rem 0 1.168rem 0;
  }
}

.survey-body {
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.survey-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border: solid 0.1px #d4c6c6;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.survey-line-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border: solid 0.1px #d4c6c6;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.survey-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.survey-line:hover {
  background-color: #f1f1f1;
  transition-duration: 450ms;
}

.vote-button {
  text-align: center;
  margin-right: 30px;
  cursor: pointer;
}

