<div class="suggestion-line">
  <div class="suggestion-vote">
    <input name="group1" class="vote-button" type="checkbox"/>
    <label for=""></label>
  </div>
  <div class="suggestion-name">
    <%= suggestion.name %>
  </div>
  <div class="suggestion-price">
    <%= suggestion.price %>
  </div>
</div>